/* You can add global styles to this file, and also import other style files */
/* html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
    font-family: 'Numans', sans-serif;
    }
     */